.app {
  text-align: center;
  background-color: #eef7fb;
  width: 100%;
}
.app-container {
  margin: 0 138px;
  margin-bottom: 80px !important;
}
.app-heading {
  text-align: left;
  margin: 34px 0 16px 0;
  font-size: 20px;
}
